services:
  nginx:
    image: nginx:alpine
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./snakeoil:/etc/nginx/ssl/snakeoil:ro
    restart: unless-stopped
